
<!DOCTYPE html>
<html>
<head>
    <title>BISV National Honor Society</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/css/styles.css">
</head>
<body>
     <!-- <nav id="navbar">
         <span style="width:33%;float:left;">
              <strong><span class="navelement">NHS</span></strong>
            <span class="navelement">Upcoming Events</span>
            <span class="navelement">Hour Tracker</span>
         </span>
         <span style="width:33%;float:left;">
              <strong><span class="navelement">NJHS</span></strong>
          <span class="navelement">Upcoming Events</span>
          <span class="navelement">Hour Tracker</span>
         </span>
         <span style="width:34%;float:right;">
              <span class="navelement">Login</span>
         </span>

    </nav> -->
    
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #262626;color:white !important;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active ml-3 mr-3 navigationElement">
        <a class="nav-link" href="#" style="color:white !important;">Home <span class="sr-only">(current)</span></a>
      </li>


      <li class="nav-item dropdown ml-3 mr-3 navigationElement">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white !important;">
          NHS
        </a>
        <div class="dropdown-menu dropdown-menu-end animate slideIn" aria-labelledby="navbarDropdown" style="background-color: black;">
          <a class="dropdown-item" href="#" style="background:black;color:orange;">Upcoming Events</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" style="background:black;color:orange;">Hour Tracker</a>
        </div>
      </li>

      <li class="nav-item dropdown ml-3 mr-3 navigationElement">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white !important;">
          NJHS
        </a>
        <div class="dropdown-menu dropdown-menu-end animate slideIn" aria-labelledby="navbarDropdown" style="background-color: black;">
          <a class="dropdown-item" href="#" style="background:black;color:orange;">Upcoming Events</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" style="background:black;color:orange;">Hour Tracker</a>
        </div>
      </li>
      <li class="nav-item ml-3 mr-3 navigationElement" style="color:white !important;">
          <a class="nav-link" href="#" style="color:white !important;">About</a>
      </li>

    </ul>
      <button class="btn btn-outline-success my-2 my-sm-0" >Login</button>
  </div>
</nav>

<div class="container-fluid homePage1" style="background-color:#303030;">
    <div class="row">
        <div class="col">
            <h1>BISV National Honor Society</h1>
            <p>Welcome to BISV's official NHS/NJHS website!</p>
        </div>
        <div class="col">
            <img src="./static/images/pickinguptrash.png" alt="">
        </div>
    </div>
</div>

<!-- 
    <div style="text-align:center;">
        <h1>BISV National Honor Society</h1>
        <h2>Middle School Student?</h2>
        Checkout our <a href="/njhs">NJHS</a> website!
        <h2>NHS Upcoming Events</h2>
    </div> -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>