{% extends "layout.html" %}
{% block main %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
     <!-- <nav id="navbar">
         <span style="width:33%;float:left;">
              <strong><span class="navelement">NHS</span></strong>
            <span class="navelement">Upcoming Events</span>
            <span class="navelement">Hour Tracker</span>
         </span>
         <span style="width:33%;float:left;">
              <strong><span class="navelement">NJHS</span></strong>
          <span class="navelement">Upcoming Events</span>
          <span class="navelement">Hour Tracker</span>
         </span>
         <span style="width:34%;float:right;">
              <span class="navelement">Login</span>
         </span>

    </nav> -->
    


<div class="container homePage1" style="background-color:#303030;">
    <div class="row">
        <div class="col-lg align-self-start text-center">
            <button class="hollowButton" style="margin-bottom: 0.25em;">Welcome</button>
            <h2>to BISV's NHS/NJHS website!</h2>
            <br>
            <h3>A way to turn your efforts, volunteering, and activities to help in your local communities. Help us in our mission to make our communities a better place.</h3>
        </div>
        <div class="col-lg">
            <img src="./static/images/pickinguptrash.png" alt="">
        </div>
    </div>
</div>


<!-- 
    <div style="text-align:center;">
        <h1>BISV National Honor Society</h1>
        <h2>Middle School Student?</h2>
        Checkout our <a href="/njhs">NJHS</a> website!
        <h2>NHS Upcoming Events</h2>
    </div> -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}