<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BISV National Honor Society</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #262626;color:white !important;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active ml-3 mr-3 navigationElement">
        <a class="nav-link" href="#" style="color:white !important;">Home <span class="sr-only">(current)</span></a>
      </li>


      <li class="nav-item dropdown ml-3 mr-3 navigationElement">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white !important;">
          NHS
        </a>
        <div class="dropdown-menu dropdown-menu-end animate slideIn" aria-labelledby="navbarDropdown" style="background-color: black;">
          <a class="dropdown-item" href="#" style="background:black;color:orange;">Upcoming Events</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" style="background:black;color:orange;">Hour Tracker</a>
        </div>
      </li>

      <li class="nav-item dropdown ml-3 mr-3 navigationElement">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white !important;">
          NJHS
        </a>
        <div class="dropdown-menu dropdown-menu-end animate slideIn" aria-labelledby="navbarDropdown" style="background-color: black;">
          <a class="dropdown-item" href="#" style="background:black;color:orange;">Upcoming Events</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" style="background:black;color:orange;">Hour Tracker</a>
        </div>
      </li>
      <li class="nav-item ml-3 mr-3 navigationElement" style="color:white !important;">
          <a class="nav-link" href="#" style="color:white !important;">About</a>
      </li>

    </ul>
      <a href="/login"><button class="btn btn-outline-success my-2 my-sm-0" >Login</button></a>
  </div>
</nav>
</body>
</html>