{% extends "layout.html" %}
{% block main %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div style="text-align:center;">
        <h1>Login with Schoology</h1>
        <button onclick="newwindow=window.open('{{url}}','Authorize with Schoology','height=500,width=900');">Authorize Schoology</button>
        <span id="resp"></span>
        <button id="loginbtn">Login</button>
    </div>
<script>


        $('#loginbtn').on('click', function() {
            var $this = $(this);
        $this.button('loading');
        setTimeout(function() {

          var request =  $.ajax({
              type: "POST",
              url: "/login",
              data: {
              }
            });
        request.done(function(data) {
            $this.button('reset');
            resp = document.getElementById("resp")
            if (data==="error!!!"){
                resp.style.color = "red";
                resp.innerHTML = "Invalid Credentials"
            }else{
                resp.style.color = "green";
                resp.innerHTML = "Welcome, "+data;
                window.location.replace("/");
            }

        });

          }, 1000);



    });
</script>

</body>
</html>

{% endblock %}