{% extends "layout.html" %}
{% block main %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./static/css/styles.css">
</head>
<body>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <div style="text-align:center;">
        <h1>Login with Schoology</h1>
        <input type="email" placeholder="Email" id="e"><br><br>
        <input type="password" placeholder="Password" id="p"><br><br>
        <input type="submit" value="Log In" onclick = "checkInfo()"><br><br>
        <span id="resp"></span>
    </div>
<script>
    function checkInfo(){
        email = document.getElementById("e").value;
        password = document.getElementById("p").value;
        var request =  $.ajax({
              type: "POST",
              url: "/login",
              data: {
                "e":email,
                  "p":password
              }
            });
        request.done(function(data) {
            resp = document.getElementById("resp")
            if (data==="error!!!"){
                resp.style.color = "red";
                resp.innerHTML = "Invalid Credentials"
            }else{
                resp.style.color = "green";
                resp.innerHTML = "Welcome, "+data;
                window.location.replace("/");
            }

        });
    }
</script>

</body>
</html>

{% endblock %}